body{
    background-image: url("../img/painted_wall_background.jpeg");
}

.bg-transparent{
    background-color: transparent;
}

.hover-darker:hover{
    background-color: grey;
}

.fit{
    width: 100vw;
    height: 100%;

}

.btn{
    width:100%;
    color: black;
}

.btn-link:hover{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    padding-left: 10px;
}

ul{
    display: flex;
    flex-direction: row;
}

i{
    color: black;
}

.collapsed{
    width: 100%;
}

#heading1{
    background-color: #a3a2a5;
}

#heading2{
    background-color: #8c8c8c;
}

#heading3{
    background-color: #6f6f70   ;
}

#heading4{
    background-color: #5b5a5b;
}

.top50{
    bottom:50px;
}

.smtext{
    font-size: .5em;
}

/*Background animation for medium through x-large*/
.vertlines{
    display: inline-block;
}

.vertLine1{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine1 {
    0%   {background-color:black; left:25px; top:calc(100vh - 250px) ;}
    50% {background-color:black; left:25px; top:0px;}
    100%   {background-color:black; left:25px; top:calc(100vh - 250px) ;}
}

/* Standard syntax */
@keyframes vertLine1 {
    0%   {background-color:black; left:25px; top:calc(100vh - 250px);}
    50% {background-color:black; left:25px; top:0px;}
    100%   {background-color:black; left:25px; top:calc(100vh - 250px) ;}
}

.vertLine2{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine2 {
    0%   {background-color:black; left:100px; top:0; }
    50% {background-color:black; left:100px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:100px; top:0; }
}

/* Standard syntax */
@keyframes vertLine2 {
    0%   {background-color:black; left:100px; top:0;}
    50% {background-color:black; left:100px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:100px; top:0;}
}

.vertLine3{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine3 {
    0%   {background-color:black; left:190px; top:calc(100vh - 250px) ;}
    50% {background-color:black; left:190px; top:0px;}
    100%   {background-color:black; left:190px; top:calc(100vh - 250px) ;}
}

/* Standard syntax */
@keyframes vertLine3 {
    0%   {background-color:black; left:190px; top:calc(100vh - 250px);}
    50% {background-color:black; left:190px; top:0px;}
    100%   {background-color:black; left:190px; top:calc(100vh - 250px) ;}
}

.vertLine4{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine4; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

 /*Safari 4.0 - 8.0 **/
@-webkit-keyframes vertLine4 {
    0%   {background-color:black; left:275px; top:0; }
    50% {background-color:black; left:275px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:275px; top:0; }}

 /*Standard syntax */
@keyframes vertLine4 {
      0%   {background-color:black; left:275px; top:0; }
      50% {background-color:black; left:275px; top:calc(100vh - 250px);}
      100%   {background-color:black; left:275px; top:0; }
}

.vertLine5{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine5; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine5 {
    0%   {background-color:black; left:350px; top:calc(100vh - 250px) ;}
    50% {background-color:black; left:350px; top:0px;}
    100%   {background-color:black; left:350px; top:calc(100vh - 250px) ;}
}

/* Standard syntax */
@keyframes vertLine5 {
    0%   {background-color:black; left:350px; top:calc(100vh - 250px);}
    50% {background-color:black; left:350px; top:0px;}
    100%   {background-color:black; left:350px; top:calc(100vh - 250px) ;}
}

.vertLine6{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine6; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*Safari 4.0 - 8.0 **/
@-webkit-keyframes vertLine6 {
    0%   {background-color:black; left:425px; top:0; }
    50% {background-color:black; left:425px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:425px; top:0; }}

/*Standard syntax */
@keyframes vertLine6 {
    0%   {background-color:black; left:425px; top:0; }
    50% {background-color:black; left:425px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:425px; top:0; }
}

.vertLine7{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine7; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine7;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine7 {
    0%   {background-color:black; left:500px; top:calc(100vh - 250px) ;}
    50% {background-color:black; left:500px; top:0px;}
    100%   {background-color:black; left:500px; top:calc(100vh - 250px) ;}
}

/* Standard syntax */
@keyframes vertLine7 {
    0%   {background-color:black; left:500px; top:calc(100vh - 250px);}
    50% {background-color:black; left:500px; top:0px;}
    100%   {background-color:black; left:500px; top:calc(100vh - 250px) ;}
}

.vertLine8{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine8; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine8;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*Safari 4.0 - 8.0 **/
@-webkit-keyframes vertLine8 {
    0%   {background-color:black; left:575px; top:0; }
    50% {background-color:black; left:575px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:575px; top:0; }}

/*Standard syntax */
@keyframes vertLine8 {
    0%   {background-color:black; left:575px; top:0; }
    50% {background-color:black; left:575px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:575px; top:0; }
}

.vertLine9{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine9; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine9;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes vertLine9 {
    0%   {background-color:black; left:650px; top:calc(100vh - 250px) ;}
    50% {background-color:black; left:650px; top:0px;}
    100%   {background-color:black; left:650px; top:calc(100vh - 250px) ;}
}

/* Standard syntax */
@keyframes vertLine9 {
    0%   {background-color:black; left:650px; top:calc(100vh - 250px);}
    50% {background-color:black; left:650px; top:0px;}
    100%   {background-color:black; left:650px; top:calc(100vh - 250px) ;}
}

.vertLine10{
    width: 50px;
    height: 250px;
    background-color: black;
    position: relative;
    -webkit-animation-name: vertLine10; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: vertLine10;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*Safari 4.0 - 8.0 **/
@-webkit-keyframes vertLine10 {
    0%   {background-color:black; left:725px; top:0; }
    50% {background-color:black; left:725px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:725px; top:0; }}

/*Standard syntax */
@keyframes vertLine10 {
    0%   {background-color:black; left:725px; top:0; }
    50% {background-color:black; left:725px; top:calc(100vh - 250px);}
    100%   {background-color:black; left:725px; top:0; }
}
